* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

nav {
    .container {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    .nav-bar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        letter-spacing: 1px;

        .logo {
            a {
                img {
                    width: 217px;
                    height: 28px;
                }
            }
        }

        .nav-right {
            display: flex;
            font-family: 'Montserrat', sans-serif;
            font-weight: 500;
            margin-top: 2px;
            justify-content: center;

            .menu {

                a {

                    padding: 0px 27px;
                    letter-spacing: .1em;

                    span {
                        text-decoration: none;
                        color: #1b1b1b;
                        font-size: 12px;
                        display: inline-block;
                        position: relative;

                        &:hover {
                            transition: 0.2s;
                        }

                        &::after {
                            content: '';
                            position: absolute;
                            width: 100%;
                            transform: scaleX(0);
                            height: 1px;
                            bottom: 0;
                            left: 0;
                            background-color: currentColor;
                            transform-origin: bottom left;
                            transition: transform 0.2s ease-in-out;
                        }

                        &:hover::after {
                            transform: scaleX(1);
                            transform-origin: bottom left;
                        }
                    }

                    .line {
                        border-bottom: 1px solid #1b1b1b;

                        &::after {
                            height: 0px;
                        }

                        &:hover::after {
                            width: 100%;
                        }
                    }
                }
            }

            .search-cart {
                display: flex;
                font-size: 18px;

                i {
                    margin-right: 20px;

                    &::before {
                        -webkit-transform: rotate(90deg);
                    }

                    &:hover {
                        transition: 0.2s;
                        color: red;
                    }
                }

                .cart {
                    display: flex;
                    align-items: center;


                    span {
                        font-size: 12px;
                    }

                    .shopping-cart {

                        position: relative;
                        bottom: 2px;

                        img {
                            margin-right: 20px;
                            height: 21px;
                        }
                    }
                }
            }
        }
    }
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}

#slide {
    .image {
        background-image: url(../../../images/homeImages/Slide.jpg);
        height: 477px;
        width: 100%;
        background-size: cover;
        background-position: center;

        .left-right {
            position: relative;
            top: 50%;

            .left-arrow {
                position: absolute;
                top: 50%;
                left: 3%;
                width: 50px;
            }

            .right-arrow {
                position: absolute;
                left: 94%;
                top: 50%;
                width: 50px;
                -webkit-transform: rotate(180deg);
            }
        }

        .paragraph {
            width: 500px;
            position: absolute;
            margin: 55px 100px;

            h1 {
                font-size: 60px;
                font-family: 'Playfair Display', serif;
                font-weight: 100;

                span {
                    color: red;
                    font-size: 60px;
                    font-family: 'Playfair Display', serif;
                    font-weight: 100;
                }
            }

            p {
                font-size: 17px;
                font-family: 'Lora', serif;
                color: rgb(109, 106, 106);
            }

            img {}
        }
    }
}

#selections {

    .categories {

        .left {
            ul {
                list-style-type: none;
                display: flex;
                padding-left: 0px !important;

                li {
                    .first {
                        color: red;
                    }

                    a {
                        text-decoration: none;
                        margin-right: 32px;
                        font-size: 12px;
                        font-family: 'Montserrat', sans-serif;
                        color: #1b1b1b;
                        font-weight: 500;
                        letter-spacing: 1px;

                        &:hover {
                            transition: 0.2s;
                            color: red;
                        }
                    }


                }
            }

        }

        .right {
            .filter {
                text-align: end;

                span {
                    letter-spacing: 1px;
                    font-size: 12px;
                    font-weight: 500;
                    cursor: pointer;
                }

                i {}
            }
        }
    }


    .product {
        .image {
            // overflow: hidden;

            .sold {
                position: absolute;
                padding: 4px 13px;
                background: #2b2b2b;
                margin: 10px 0px 0px 12px;
                color: white;
                font-size: 16px;
                font-family: "Playfair Display", serif;
                z-index: 1;
                letter-spacing: 1px;

            }

            .sale {
                position: absolute;
                padding: 4px 13px;
                background: white;
                margin: 10px 0px 0px 12px;
                color: black;
                font-size: 16px;
                font-family: "Playfair Display", serif;
                z-index: 1;
                letter-spacing: 1px;

            }

            img {
                width: 100%;

                &:hover {
                    transition: 0.3s;
                    transform: scale(1.03);
                }
            }
        }

        .bottom {
            text-align: center;

            h6 {
                font-size: 12px;
                font-weight: 500;
                text-transform: uppercase;
                letter-spacing: 1px;


            }

            p {
                font-size: 12px;
                color: #afafaf;
            }

            .price {
                display: flex;
                justify-content: center;
                gap: 6px;

                .line-over {
                    text-decoration: line-through;
                    color: #afafaf;
                }

                p {
                    font-size: 12px;
                    color: #2d2b2b;

                }

            }


        }

    }








}

#valentine {

    .background {
        background-color: rgb(247, 247, 247);
        padding: 100px 0px;

        .left {
            a {
                .image {
                    overflow: hidden;

                    img {
                        width: 100%;

                        &:hover {
                            transition: 0.3s;
                            transform: scale(1.03);
                        }
                    }
                }
            }
        }

        .right {
            padding: 5% 18% 0% 5%;

            h1 {
                padding-right: 2%;
                font-family: 'Playfair Display', serif;
                font-weight: 100;
                font-size: 38px;

                span {
                    font-family: 'Playfair Display', serif;
                    font-weight: 100;
                    font-size: 38px;
                    color: red;
                }

            }

            P {
                font-size: 17px;
                font-family: 'Lora', serif;
                color: #6d6a6a;
            }

            ul {
                list-style: none;
                padding-left: 0px !important;

                li {
                    color: #6d6a6a;
                    font-family: 'Lora', serif;
                    padding: 15px 0px;

                    img {}
                }
            }
        }
    }




}

#experts {

    .all {
        display: flex;
        justify-content: center;
        padding: 120px 0px 50px 0px;

        .paragraph {
            width: 50%;

            h2 {
                text-align: center;
                font-family: 'Playfair Display', serif;
                font-size: 38px;
                font-weight: 100;
            }

            p {
                font-size: 17px;
                text-align: center;
                font-family: 'Lora', serif;
                color: #6d6a6a;
                line-height: 30px;
            }
        }
    }

}

#expert-about {
    .all {
        .worker {
            text-align: center;

            .image {
                img {}
            }

            .info {
                h6 {
                    font-size: 12px;
                    letter-spacing: 1px;
                    text-transform: uppercase;
                }

                p {
                    font-size: 12px;
                    color: #afafaf;
                }
            }
        }
    }
}

#subscribe {
    .all {
        .image {
            height: 532px;
            background: center no-repeat;
            background-attachment: fixed;
            background-size: cover;

            .mail {
                text-align: center;
                padding: 180px 0px;

                .join {
                    h2 {
                        color: white;
                        font-family: 'Playfair Display', serif;
                        font-size: 30px;
                        font-weight: 100;
                    }
                }

                form {
                    .submit-email {
                        display: flex;
                        justify-content: center;

                        .left {
                            span {
                                input {
                                    width: 100%;
                                    outline: none;
                                    padding: 19px 18px;
                                    border: none;

                                    &::placeholder {
                                        font-size: 12px;
                                        color: #959595;
                                    }
                                }
                            }
                        }

                        .right {
                            input {
                                height: 100%;
                                padding: 0px 42px;
                                font-size: 12px;
                                font-weight: 500;
                                background-color: #f34f3f;
                                color: white;
                                border: 1px solid transparent;
                                line-height: 61px;

                                &:hover {
                                    color: #ff3d2a;
                                    color: white;
                                }

                            }
                        }

                    }

                }
            }


        }
    }
}

.background {
    background-color: #f8f8f8;

    #info {
        .all {
            display: flex;
            justify-content: center;

            .paragraph {
                text-align: center;
                width: 50%;

                h2 {
                    font-size: 38px;
                    font-family: 'Playfair Display', serif;
                    font-weight: 100;
                }

                p {
                    font-size: 17px;
                    font-family: 'Lora', serif;
                    color: #6d6a6a;
                }
            }
        }

    }

    #blogs {
        .all {
            .item {
                .image {
                    overflow: hidden;

                    p {
                        position: absolute;
                        background-color: white;
                        letter-spacing: 1px;
                        font-size: 10px;
                        font-weight: 500;
                        padding: 10px 18px 10px;
                        margin: 10px 0px 0px 10px;
                        line-height: 1em;
                        z-index: 1;

                        &:hover {
                            transition: 0.2s;
                            color: #f34f3f;
                        }
                    }

                    img {
                        width: 100%;

                        &:hover {
                            transition: 0.3s;
                            scale: 1.04;
                        }
                    }
                }

                .bottom {
                    text-align: center;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .paragraph {
                        width: 70%;

                        h5 {
                            font-family: 'Playfair Display', serif;
                            font-size: 22px;
                            font-weight: 100;
                        }

                        p {
                            font-family: 'Lora', serif;
                            font-size: 15px;
                            color: #6d6a6a;
                        }
                    }
                }
            }
        }
    }
}

#bottom-slider {
    .all {
        text-align: center;

        .arrow-control {
            display: flex;
            justify-content: center;

            .left-right {
                position: relative;
                top: 120px;
                width: 71%;

                .left-arrow {
                    position: absolute;
                    top: 50%;
                    left: 0%;
                    width: 60px;
                }

                .right-arrow {
                    position: absolute;
                    left: 94%;
                    top: 50%;
                    -webkit-transform: rotate(180deg);
                    width: 60px;
                }
            }
        }


        .top {
            .image {
                img {}
            }
        }

        .bottom {
            .paragraph {
                padding: 0px 22%;

                .testimonial {
                    font-size: 24px;
                    font-family: 'Lora', serif;
                    font-style: italic;
                    color: #4b4747;
                }

                .name {
                    p {
                        font-size: 12px;
                        font-family: 'Montserrat', sans-serif;
                        font-weight: 500;
                    }

                    .job {
                        font-size: 12px;
                        font-family: 'Montserrat', sans-serif;
                        color: #afafaf;

                    }
                }
            }
        }
    }
}

footer {
    background-color: #fefaf3;

    #service-media {
        .all {
            padding: 75px 0px;

            .item {
                .list {
                    line-height: 26px;

                    .top-list {
                        h6 {
                            font-size: 12px;
                            font-weight: 500;
                            letter-spacing: .1em;
                            margin-bottom: 25px;
                        }
                    }

                    .bottom-list {
                        ul {
                            list-style-type: none;
                            padding-left: 0px !important;

                            li {
                                a {
                                    text-decoration: none;
                                    color: #8b8b8b;
                                    font-size: 12px;

                                    &:hover {
                                        transition: 0.2s;
                                        color: red;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    #rights {
        .all {
            padding: 20px 0px;
            border-top: 1px solid #eceae1;
            width: 87%;
            margin-left: 6%;

            .item1 {
                p {
                    font-size: 12px;
                    color: #b6b6b5;

                    span {
                        color: #6d6a6a;

                        &:hover {
                            transition: 0.2s;
                            color: red;
                        }
                    }
                }
            }

            .item2 {
                text-align: center;

                img {}
            }

            .item3 {
                text-align: end;

                .instagram {
                    a {
                        font-size: 10px;
                        color: #afafaf;
                        font-weight: 400;
                        letter-spacing: 2px;
                        text-decoration: none;

                        &:hover {
                            transition: 0.2s;
                            color: red;
                        }
                    }
                }

                .facebook {
                    a {
                        font-size: 10px;
                        color: #afafaf;
                        font-weight: 400;
                        letter-spacing: 1px;
                        text-decoration: none;

                        &:hover {
                            transition: 0.2s;
                            color: red;
                        }
                    }
                }

            }
        }
    }
}








/*#region nav*/
@media screen and (max-width: 1200px) {
    .logo {
        text-align: center;
    }

}

@media all and (min-width: 768px) and (max-width: 992px) {
    .nav-right {
        .menu {
            a {
                padding: 0px 16px !important;
                font-size: 10px !important;
            }
        }
    }
}

@media all and (min-width: 576px) and (max-width: 768px) {

    .nav-right {
        .menu {
            a {
                padding: 0px 50px !important;
                font-size: 12px !important;
            }
        }

        .search-cart {

            i {
                display: flex !important;
                align-items: center !important;
                margin-right: 50px !important;
            }

            .shopping-cart {
                img {
                    margin-right: 50px !important;
                }
            }
        }

    }
}

@media all and (min-width: 505px) and (max-width: 576px) {

    .nav-right {
        .menu {
            a {
                padding: 0px 50px !important;
                font-size: 12px !important;
            }
        }

        .search-cart {

            i {
                display: flex !important;
                align-items: center !important;
                margin-right: 50px !important;
            }

            .shopping-cart {
                img {
                    margin-right: 50px !important;
                }
            }
        }

    }
}

@media all and (min-width: 420px) and (max-width: 505px) {

    .nav-right {
        .menu {
            a {
                padding: 0px 38px !important;
                font-size: 8px !important;
            }
        }

        .search-cart {

            i {
                display: flex !important;
                align-items: center !important;
                margin-right: 50px !important;
            }

            .shopping-cart {
                img {
                    margin-right: 50px !important;
                }
            }
        }

    }
}

@media all and (min-width: 1px) and (max-width: 420px) {
    .logo {
        a {
            img {
                margin-bottom: 10px;
            }
        }
    }


    .nav-right {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .menu {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            a {
                padding: 5px 38px !important;
                font-size: 8px !important;
            }
        }
    }
}

/*#endregion*/

/*#region slide*/
@media screen and (min-width: 1600px) {
    #slide {
        .image {
            background-image: url(../../../images/homeImages/Slide.jpg);

            .paragraph {
                width: 450px;

                h1 {
                    font-size: 60px;

                    span {
                        font-size: 60px;
                    }
                }

                p {
                    font-size: 17px;
                }

                img {}
            }
        }
    }
}

@media all and (min-width: 992px) and (max-width: 1600px) {
    #slide {
        .image {
            background-image: url(../../../images/homeImages/Slide.jpg);
            height: 420px;

            .paragraph {
                width: 450px;

                h1 {
                    font-size: 41px;

                    span {
                        font-size: 41px;
                    }
                }

                p {
                    font-size: 17px;
                }

                img {}
            }
        }
    }
}

@media screen and (max-width: 767px) {
    #slide {
        .image {
            background-image: url(../../../images/homeImages/Slide.jpg);
            height: 477px;

            .paragraph {
                width: 450px;

                h1 {
                    font-size: 41px;

                    span {
                        font-size: 41px;
                    }
                }

                p {
                    display: none !important;
                    font-size: 17px;
                }

                img {}
            }
        }
    }
}

@media all and (min-width: 576px) and (max-width: 992px) {

    #slide {
        .image {
            background-image: url(../../../images/homeImages/Slide.jpg);
            height: 400px;
            width: 100%;

            .paragraph {
                width: 305px;
                margin: 55px 10px;

                h1 {
                    font-size: 41px;

                    span {
                        font-size: 41px;
                    }
                }

                p {
                    font-size: 17px;
                }

                img {}
            }
        }
    }

}

@media all and (min-width: 1px) and (max-width: 576px) {
    #slide {
        .image {
            background-image: url(../../../images/homeImages/Slide.jpg);
            height: 350px;
            width: 100%;

            .paragraph {
                width: 300px;
                margin: 55px 10px;

                h1 {
                    font-size: 35px;

                    span {
                        font-size: 35px;
                    }
                }

                p {
                    font-size: 17px;
                }

                img {
                    width: 150px;
                }
            }
        }
    }
}

@media screen and (max-width: 820px) {
    .left-right {
        display: none;
    }
}

/*#endregion*/

/*#region categories*/
@media screen and (max-width: 769px) {
    .categories {
        h1 {
            display: inline-block !important;
            font-size: 12px;
            font-weight: 500;
            letter-spacing: .1em;
        }

        i {
            display: inline-block !important;
        }

        .lleft {
            display: none;
        }
    }

    .right {
        .filter {
            text-align: start !important;

            span {
                letter-spacing: 1px;
                font-size: 12px;
                font-weight: 500;
                cursor: pointer;
            }

            i {
                margin-left: 0px !important;
            }
        }
    }

}

/*#endregion*/

/*#region valentine*/
@media all and (min-width: 576px) and (max-width: 768px) {
    #valentine {
        .background {
            padding: 100px 0px;

            .left {
                .image {
                    img {
                        width: 100%;
                    }
                }
            }

            .right {
                padding: 5% 0% 0% 0%;

                h1 {
                    font-size: 30px;
                    padding-right: 0%;
                    font-family: 'Playfair Display', serif;
                }

                p {
                    font-size: 15px;
                }

                ul {
                    list-style: none;
                    padding-left: 0px !important;

                    li {
                        font-size: 14px;
                        padding: 15px 0px;
                    }
                }
            }
        }
    }
}

@media all and (min-width: 1px) and (max-width: 576px) {

    #valentine {

        .background {
            .right {
                padding: 10% 0% 0% 0%;

                h1 {
                    padding-right: 0%;
                    font-size: 25px;
                }

                p {
                    font-size: 12px;
                }

                ul {
                    li {
                        font-size: 12px;
                    }
                }


            }

        }


    }


}

/*#endregion*/

/*#region experts*/

@media screen and (max-width: 540px) {
    #experts {
        .all {
            padding: 120px 0px 50px 0px;

            .paragraph {
                width: 50%;

                h2 {
                    text-align: center;
                    font-family: 'Playfair Display', serif;
                    font-size: 25px;
                    font-weight: 100;
                }

                p {
                    font-size: 10px;
                    text-align: center;
                    font-family: 'Lora', serif;
                    color: #6d6a6a;
                }
            }
        }
    }
}

/*#endregion*/

/*#region subscribe*/


@media all and (min-width: 300px) and (max-width: 608px) {


    #subscribe {
        .all {
            .image {
                .mail {
                    .join {
                        h2 {
                            font-size: 20px;
                        }
                    }

                    form {
                        .submit-email {
                            .left {
                                span {
                                    input {
                                        width: 100%;
                                        padding: 19px 18px;

                                        &::placeholder {
                                            font-size: 10px;
                                        }
                                    }
                                }
                            }

                            .right {
                                input {
                                    height: 100%;
                                    font-size: 10px;

                                    &:hover {
                                        color: #ff3d2a;
                                        color: white;
                                    }

                                }
                            }

                        }

                    }
                }


            }
        }
    }


}


/*#endregion*/

/*#region footer*/

@media screen and (max-width: 992px) {
    footer {
        #rights {
            .all {
                padding: 20px 0px;
                border-top: 1px solid #eceae1;
                width: 70%;
                margin-left: 15%;

                .item1 {
                    text-align: center !important;

                    p {
                        font-size: 12px;
                        color: #b6b6b5;

                        span {
                            color: #6d6a6a;
                        }
                    }
                }

                .item2 {
                    text-align: center !important;
                }

                .item3 {
                    text-align: center !important;
                }
            }
        }
    }
}

/*#endregion*/