* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}

nav {
    .container {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    .nav-bar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        letter-spacing: 1px;

        .logo {
            a {
                img {
                    width: 217px;
                    height: 28px;
                }
            }
        }

        .nav-right {
            display: flex;
            font-family: 'Montserrat', sans-serif;
            font-weight: 500;
            margin-top: 2px;
            justify-content: center;

            .menu {

                a {

                    padding: 0px 27px;
                    letter-spacing: .1em;

                    span {
                        text-decoration: none;
                        color: #1b1b1b;
                        font-size: 12px;
                        display: inline-block;
                        position: relative;

                        &:hover {
                            transition: 0.2s;
                        }

                        &::after {
                            content: '';
                            position: absolute;
                            width: 100%;
                            transform: scaleX(0);
                            height: 1px;
                            bottom: 0;
                            left: 0;
                            background-color: currentColor;
                            transform-origin: bottom left;
                            transition: transform 0.2s ease-in-out;
                        }

                        &:hover::after {
                            transform: scaleX(1);
                            transform-origin: bottom left;
                        }
                    }

                    .line {
                        border-bottom: 1px solid #1b1b1b;

                        &::after {
                            height: 0px;
                        }

                        &:hover::after {
                            width: 100%;
                        }
                    }
                }
            }

            .search-cart {
                display: flex;
                font-size: 18px;

                i {
                    margin-right: 20px;

                    &::before {
                        -webkit-transform: rotate(90deg);
                    }

                    &:hover {
                        transition: 0.2s;
                        color: red;
                    }
                }

                .cart {
                    display: flex;
                    align-items: center;


                    span {
                        font-size: 12px;
                    }

                    .shopping-cart {

                        position: relative;
                        bottom: 2px;

                        img {
                            margin-right: 20px;
                            height: 21px;
                        }
                    }
                }
            }
        }
    }
}

#sidebar {
    .background {
        background-color: #fafaf9;
        height: 225px;
        display: flex;
        align-items: center;

        h1 {
            font-family: 'Playfair Display', serif;
            font-size: 50px;
            font-weight: 100;
        }

        p {
            font-family: 'Lora', serif;
            font-size: 17px;
            font-style: italic;
            color: #6d6a6a;
        }
    }

}

#all {
    .left {
        .all {
            #photo {
                .photo-detail {
                    .test {
                        img {
                            width: 100%;
                        }
                    }

                    .magnificence {
                        h1 {
                            font-family: 'Playfair Display', serif;
                            font-size: 30px;
                            font-weight: 100;
                        }

                        p {
                            font-family: 'Lora', serif;
                            color: #6d6a6a;
                            font-size: 15px;
                        }

                        .detail {
                            span {
                                color: #AFAFAF;
                                font-size: 10px;
                                letter-spacing: .15em;
                            }

                            .exotic {
                                color: #595858;
                                font-weight: 500;
                                letter-spacing: .15em;
                            }

                            a {
                                color: #595858;
                                text-decoration: none;
                                font-size: 10px;
                                letter-spacing: .15em;
                                font-weight: 500;
                            }

                            i {
                                color: #AFAFAF;
                            }

                            .div2{
                                font-size: 11px;
                            }

                            .span-hover {
                                &:hover {
                                    transition: 0.2s;
                                    color: #f34f3f;
                                }
                            }

                            .div1:hover + .div2{
                                color: #f34f3f;
                            }
                        }
                    }
                }
            }

            #quote {
                .choice {
                    padding: 62px 53px 66px;
                    display: flex;

                    .left {
                        h1 {
                            font-family: 'Playfair Display', serif;
                            font-size: 24px;
                            color: #2B2B2B;
                            font-weight: 100;
                        }

                        p {
                            font-size: 12px;
                            color: #1B1B1B;
                            font-weight: 500;
                        }
                    }

                    .image {
                        img {
                            width: 100%;
                        }
                    }
                }
            }

            .pages {
                text-align: center;
                font-size: 12px;
                span, i{
                    cursor: pointer;
                    &:hover{
                        transition: 0.2s;
                        color: #f34f3f;
                    }
                }

                .first {
                    font-size: 12px;
                    color: #afafaf;
                }

                .second {
                    font-size: 12px;
                    color: #595858;
                }

                i {
                    color: #afafaf;
                }

            }
        }
    }

    .right {
        #search {
            form {
                border: 1px solid #e8e8e8;
                display: flex;
                justify-content: space-between;
                padding: 10px 20px;

                input {
                    border: none;
                    width: 100%;

                    &::placeholder {
                        font-size: 12px;
                    }
                }

                span {
                    i {
                        color: #b5b5b5;

                        &::before {
                            -webkit-transform: rotate(90deg);
                        }
                    }
                }
            }
        }

        #categories {
            .top {
                h3 {
                    font-size: 12px;
                    color: #1B1B1B;
                    letter-spacing: .1em;
                }
            }

            .bottom {
                ul {
                    list-style: none;
                    padding-left: 0px !important;
                    li {
                        line-height: 24px;
                        a {
                            color: #8b8b8b;
                            text-decoration: none;
                            font-size: 12px;
                            font-weight: 400;

                            &:hover{
                                transition: 0.2s;
                                color: #f34f3fed;
                            }
                        }
                    }
                }
            }
        }

        #post {
            .list {
                .top {
                    h6 {
                        font-size: 12px;
                        letter-spacing: .1em;
                    }
                }

                .bottom {
                    .item {
                        display: flex;
                        &:hover .right h6{
                            transition: 0.2s;
                            color: #f34f3f;
                        }

                        .left {
                            img {
                                height: 50px;
                                width: 75px;
                            }
                        }

                        .right {
                            padding-left: 20px;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;

                            h6 {
                                font-size: 12px;
                                color: #1B1B1B;
                                letter-spacing: .15em;
                            }

                            p {
                                font-size: 10px;
                                color: #AFAFAF;
                                letter-spacing: .15em;
                                margin-bottom: 0px !important;
                            }
                        }
                    }
                }
            }
        }

        #image {
            img {
                width: 100%;
            }
        }

    }
}

footer {
    background-color: #fefaf3;

    #service-media {
        .all {
            padding: 75px 0px;

            .item {
                .list {
                    line-height: 26px;

                    .top-list {
                        h6 {
                            font-size: 12px;
                            font-weight: 500;
                            letter-spacing: .1em;
                            margin-bottom: 25px;
                        }
                    }

                    .bottom-list {
                        ul {
                            list-style-type: none;
                            padding-left: 0px !important;

                            li {
                                a {
                                    text-decoration: none;
                                    color: #8b8b8b;
                                    font-size: 12px;

                                    &:hover {
                                        transition: 0.2s;
                                        color: red;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    #rights {
        .all {
            padding: 20px 0px;
            border-top: 1px solid #eceae1;
            width: 87%;
            margin-left: 6%;

            .item1 {
                p {
                    font-size: 12px;
                    color: #b6b6b5;

                    span {
                        color: #6d6a6a;

                        &:hover {
                            transition: 0.2s;
                            color: red;
                        }
                    }
                }
            }

            .item2 {
                text-align: center;

                img {}
            }

            .item3 {
                text-align: end;

                .instagram {
                    a {
                        font-size: 10px;
                        color: #afafaf;
                        font-weight: 400;
                        letter-spacing: 2px;
                        text-decoration: none;

                        &:hover {
                            transition: 0.2s;
                            color: red;
                        }
                    }
                }

                .facebook {
                    a {
                        font-size: 10px;
                        color: #afafaf;
                        font-weight: 400;
                        letter-spacing: 1px;
                        text-decoration: none;

                        &:hover {
                            transition: 0.2s;
                            color: red;
                        }
                    }
                }

            }
        }
    }
}




/*#region nav*/
@media screen and (max-width: 1200px) {
    .logo {
        text-align: center;
    }

}

@media all and (min-width: 768px) and (max-width: 992px) {
    .nav-right {
        .menu {
            a {
                padding: 0px 16px !important;
                font-size: 10px !important;
            }
        }
    }
}

@media all and (min-width: 576px) and (max-width: 768px) {

    .nav-right {
        .menu {
            a {
                padding: 0px 50px !important;
                font-size: 12px !important;
            }
        }

        .search-cart {

            i {
                display: flex !important;
                align-items: center !important;
                margin-right: 50px !important;
            }

            .shopping-cart {
                img {
                    margin-right: 50px !important;
                }
            }
        }

    }
}

@media all and (min-width: 505px) and (max-width: 576px) {

    .nav-right {
        .menu {
            a {
                padding: 0px 50px !important;
                font-size: 12px !important;
            }
        }

        .search-cart {

            i {
                display: flex !important;
                align-items: center !important;
                margin-right: 50px !important;
            }

            .shopping-cart {
                img {
                    margin-right: 50px !important;
                }
            }
        }

    }
}

@media all and (min-width: 420px) and (max-width: 505px) {

    .nav-right {
        .menu {
            a {
                padding: 0px 38px !important;
                font-size: 8px !important;
            }
        }

        .search-cart {

            i {
                display: flex !important;
                align-items: center !important;
                margin-right: 50px !important;
            }

            .shopping-cart {
                img {
                    margin-right: 50px !important;
                }
            }
        }

    }
}

@media all and (min-width: 1px) and (max-width: 420px) {
    .logo {
        a {
            img {
                margin-bottom: 10px;
            }
        }
    }


    .nav-right {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .menu {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            a {
                padding: 5px 38px !important;
                font-size: 8px !important;
            }
        }
    }
}

/*#endregion*/

/*#region sidebar*/

@media all and (min-width: 420px) and (max-width: 768px) {
    #sidebar {
        .background {

            h1 {
                font-size: 40px;
            }

            p {
                font-size: 15px;
            }
        }

    }
}

@media all and (min-width: 1px) and (max-width: 420px) {
    #sidebar {
        .background {

            h1 {
                font-size: 30px;
            }

            p {
                font-size: 12px;
            }
        }

    }
}

@media all and (min-width: 1px) and (max-width: 529px) {
    .background {
        h1 {
            text-align: center;
        }

        p {
            text-align: center;
        }
    }
}



/*#endregion*/

/*#region photo*/

@media all and (min-width: 420px) and (max-width: 768px) {
    #photo {
        .photo-detail {

            .magnificence {
                h1 {
                    font-family: 'Playfair Display', serif;
                    font-size: 25px !important;
                    font-weight: 100;
                }

                p {
                    font-family: 'Lora', serif;
                    color: #6d6a6a;
                    font-size: 13px !important;
                }

                .detail {
                    span {
                        color: #AFAFAF;
                        font-size: 9px !important;
                        letter-spacing: .15em;
                    }

                    .exotic {
                        color: #595858;
                        font-weight: 500;
                        letter-spacing: .15em;
                    }

                    a {
                        color: #595858;
                        text-decoration: none;
                        font-size: 9px !important;
                        letter-spacing: .15em;
                        font-weight: 500;
                    }

                    i {
                        color: #AFAFAF;

                    }
                }
            }
        }
    }

}

@media all and (min-width: 1px) and (max-width: 420px) {
    #photo {
        .photo-detail {

            .magnificence {
                h1 {
                    font-family: 'Playfair Display', serif;
                    font-size: 20px !important;
                    font-weight: 100;
                }

                p {
                    font-family: 'Lora', serif;
                    color: #6d6a6a;
                    font-size: 12px !important;
                }

                .detail {
                    span {
                        color: #AFAFAF;
                        font-size: 7px !important;
                        letter-spacing: .15em;
                    }

                    .exotic {
                        color: #595858;
                        font-weight: 500;
                        letter-spacing: .15em;
                    }

                    a {
                        color: #595858;
                        text-decoration: none;
                        font-size: 8px !important;
                        letter-spacing: .15em;
                        font-weight: 500;
                    }

                    i {
                        color: #AFAFAF;

                    }
                }
            }
        }
    }

}

/*#endregion*/

/*#region quote*/

@media all and (min-width: 420px) and (max-width: 768px) {
    #quote {
        .choice {
            padding: 62px 53px 66px;
            display: flex;

            .left {
                h1 {
                    font-size: 20px !important;
                }

                p {
                    font-size: 10px !important;
                }
            }

            .image {
                img {
                    width: 100%;
                }
            }

        }
    }
}

@media all and (min-width: 1px) and (max-width: 420px) {
    #quote {
        .choice {
            padding: 62px 53px 66px;
            display: flex;

            .left {
                h1 {
                    font-size: 16px !important;
                }

                p {
                    font-size: 8px !important;
                }
            }

            .image {
                img {
                    width: 100%;
                }
            }

        }
    }
}

/*#endregion*/

/*#region pages*/

@media all and (min-width: 420px) and (max-width: 768px) {

    .pages {
        text-align: center;
        font-size: 8px !important;

        .first {
            font-size: 10px !important;
            color: #afafaf;
        }

        .second {
            font-size: 10px !important;
            color: #595858;
        }

        i {
            color: #afafaf;
        }

    }

}


@media all and (min-width: 1px) and (max-width: 420px) {

    .pages {
        text-align: center;
        font-size: 8px !important;

        .first {
            font-size: 8px !important;
            color: #afafaf;
        }

        .second {
            font-size: 8px !important;
            color: #595858;
        }

        i {
            color: #afafaf;
        }

    }


}



/*#endregion*/

/*#region footer*/

@media screen and (max-width: 992px) {
    footer {
        #rights {
            .all {
                padding: 20px 0px;
                border-top: 1px solid #eceae1;
                width: 70%;
                margin-left: 15%;

                .item1 {
                    text-align: center !important;

                    p {
                        font-size: 12px;
                        color: #b6b6b5;

                        span {
                            color: #6d6a6a;
                        }
                    }
                }

                .item2 {
                    text-align: center !important;
                }

                .item3 {
                    text-align: center !important;
                }
            }
        }
    }
}

/*#endregion*/

/*#region right*/

@media all and (min-width: 420px) and (max-width: 768px) {
    .right {}
}

/*#endregion*/